<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h3 class="login-heading mb-4">Welcome back!</h3>
      <%= form_for(:session, url: login_path ) do |f| %>
        <div class="form-label-group">
          <%= f.label :email, class: "loginlabel" %>
          <%= f.email_field :email, class: 'form-control, logininput', id: "inputEmail" %>
        </div>
        <div class="form-label-group">
          <%= f.label :password, class: "loginlabel" %>
          <%= f.password_field :password, class: 'form-control logininput', id: "inputPassword" %>
          <%= f.submit "Log in", class: "btn btn-primary btn-login text-uppercase font-weight-bold mb-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
