<div class="container-fluid">
  <div class="row">
    <h3 class="mb-4 mt-5 ml-5">Welcome back!</h3>
  </div>
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-6">
      <%= form_for(:session, url: login_path ) do |f| %>
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control logininput', id: "inputEmail" %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control logininput', id: "inputPassword" %>
          <%= f.submit "Log in", class: "btn btn-primary btn-login text-uppercase font-weight-bold mb-2" %>

      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-6">
      OR <br>
      <%= link_to "signup", users_new_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
