<div class="container-fluid">
  <div class="row main-title">
    <div class="col-8">
        <span class="title ml-5">External Transactions</span>
    </div>
    <div class="col-4">
        <%= render 'shared/toggler' %>
    </div>
  </div>
  <div class="row mt-3 mb-3">
    <div class="col-2"></div>
    <div class="col-8">
        <span class="ml-5"> Total Amount: <%= total_ungrouped_amount %></span>
    </div>
    <div class="col-2"></div>
  </div>
</div>

<div class="container">

    <% @mytransactions.each do |mytransaction| %>
    <div class="row">
      <div class="col-5">
        <%= mytransaction.name if mytransaction.nogroup? %>
      </div>
      <div class="col-3">
        <p><%= mytransaction.amount if mytransaction.nogroup? %></p>
      </div>
      <div class="col-4">
        <p><%= mytransaction.created_at if mytransaction.nogroup? %></p>
      </div>
    </div>
    <% end %>
    <div class="row">
      <div class="col-4">

      </div>
      <div class="col-4">
        <%= link_to "New transaction", new_mytransaction_path, class: "btn btn-primary" %>
      </div>
      <div class="col-4">

      </div>

    </div>

</div>
