<div class="container">

    <h3> Total Amount: <%= total_group_amount %></h3>
    <% @mytransactions.each do |mytransaction| %>
          
          <h1><%= mytransaction.name if mytransaction.group? %></h1>
          <p><%= mytransaction.amount if mytransaction.group? %></p>
          <p><%= mytransaction.created_at if mytransaction.group? %></p>
    <br><br>
    <% end %>
    <%= link_to "New transaction", new_mytransaction_path %>
</div>
