<div class="container-fluid">
  <div class="row main-title">
    <div class="col-8">
        <span class="title ml-5">New Group</span>
    </div>
    <div class="col-4">
        <%= render 'shared/toggler' %>
    </div>
  </div>
</div>
<div class="conatiner">
  <%= form_for(@group, url: yield(:url)) do |f| %>
  <%= render 'shared/errors', object: @group %>

    <%= f.label :name, class: 'form-text' %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :picture, class: 'form-text' %>
    <%= f.file_field :picture, class: 'form-control' %>

    <br>
    <%= f.submit 'create group', class: "btn btn-primary mt-4" %>
  <% end %>
</div>
