<div class="container posts-new">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  </div>
</div>
<h1>new group</h1>
<%= form_for(@group, url: yield(:url)) do |f| %>
<%= render 'shared/errors', object: @group %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.submit 'create group', class: "btn btn-primary margin-top-4" %>
<% end %>
</div>
