<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">

      </div>
      <div class="col-4 postion-fixed text-right">
        <%= render 'shared/toggler' %>
      </div>
    </div>
  </div>
    <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar-header">

                    <h3>TransAct</h3>
                </div>

                <ul class="list-unstyled components">

                    <img class="ml-5 mb-3 rounded-circle" src="https://picsum.photos/150/150" alt=""/>
                    <p class="ml-5"><%=@current_user.name if logged_in?%></p>
                    <li><%= link_to "Sign up", new_user_path if !logged_in? %></li>
                    <li><%= link_to "My transactions", mytransactions_path %></li>
                    <li><%= link_to "External transactions", external_path %></li>
                    <li><%= link_to "All Groups", groups_path %></li>
                    <% if logged_in? %>
                      <li><%= link_to "New transaction", new_mytransaction_path %></li>
                      <li><%= link_to "New group", new_group_path %></li>
                      <li><%= link_to "Log out", logout_path, method: :delete %></li>
                      <% else %>
                      <li><%= link_to "Log in", login_path %></li>
                    <% end %>
                </ul>

            </nav>

            <!-- Page Content  -->

    </div>
</header>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>
